/* -- Forms -- */

input,
select,
textarea {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--contrast);
	border-radius: 0;
	color: var(--wp--preset--color--contrast);
	font-family: var(--wp--preset--font-family--primary);
	/* font-size: var(--wp--preset--font-size--x-large); */
	font-weight: var(--wp--custom--font-weight--light);
	line-height: var(--wp--custom--line-height--body);
	padding: 10px 20px;
	width: 100%;
}

/* select {
	appearance: none;
	outline: 0;
	background: url(../images/icons/icon-arrow-down.svg) no-repeat right 0.8em center / 1.4em;
	cursor: pointer;

	&::-ms-expand {
		display: none;
	}

	&:focus {
		outline: none;
	}

	option {
		background-color: var(--wp--preset--color--white);
		color: inherit;
	}
} */

input:focus,
textarea:focus {
	background-color: var(--wp--preset--color--neutral);
	border-color: var(--wp--preset--color--secondary);
	outline: none;
}

input:focus-visible,
textarea:focus-visible {
	outline: auto;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input[type="button"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="text"],
textarea {
	-webkit-appearance: none;
    appearance: none;
}

input[type='submit'] {}

::placeholder {
	color: var(--wp--preset--color--contrast);
}

label {
	color: var(--wp--preset--color--black);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.032px;
}