.wp-block-list {
	--icon-size: 1.5rem;

	&.is-style-no-bullets {
		list-style: none;
		padding-left: 0;
	}

	&[class*="is-style-"]:not(.is-style-no-bullets):not(.is-style-default) {
		li {
			list-style: none;
			position: relative;
		}
		li:before {
			content: "";
			display: block;
			width: var(--icon-size);
			height: var(--icon-size);
			background:currentColor;
			pointer-events: none;
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			position: absolute;
			top: 0.2rem;
			left: calc((var(--icon-size) + 0.3em) * -1);
		}
	}

	&.is-style-arrows {
		li:before {
			mask-image:url("/wp-content/themes/pb-starter/assets/svg/utility/arrow-right.svg")
		}
	}

	&.is-style-checkmarks {
		li:before {
			mask-image:url("/wp-content/themes/pb-starter/assets/svg/utility/check.svg")
		}
	}
	
}