/* -- Navigation -- */

// Mobile Menu
.wp-block-navigation__responsive-container.is-menu-open {
	// padding: 0;
	padding-block: var(--wp--preset--spacing--small);
	padding-right: var(--wp--style--root--padding-right);
  	padding-left: var(--wp--style--root--padding-left);
	top: calc(52px + var(--wp-admin--admin-bar--height, 0px));
	overflow: visible;

	.wp-block-navigation__responsive-dialog {
		margin-top: 0 !important;
	}

	.wp-block-navigation__responsive-container-content {
		padding-top: var(--wp--custom--spacing--gap);
		

		.wp-block-navigation__container {
			line-height: 1;
			gap: 0;
			width: 100%;
		}
	
		.has-child .wp-block-navigation__submenu-container {
			width: 100%;
			padding-top: 0;
			padding-right: 0;
		}
	}

	.wp-block-navigation-item {
		width: 100%;

		.wp-block-navigation-item__content {
			padding: 10px 15px;
			width: 100%;
			color: var(--wp--preset--color--primary);

			&:hover,
			&:focus {
				text-decoration: underline;
				color: var(--wp--preset--color--secondary);
			}
		}

	}

	.wp-block-navigastion__responsive-container-close {
		position: fixed;
		top: -30px;
		right: 15px
	}

}

// Mobile Menu Button
// .wp-block-navigation__responsive-container-close,
// .wp-block-navigation__responsive-container-open {
// 	// background-color: var(--wp--preset--color--neutral);
// 	// padding-block: calc((var(--wp--custom--spacing--header-height) - 24px) / 2);
// }

.has-background .wp-block-navigation__responsive-container-open:focus,
.has-background .wp-block-navigation__responsive-container-open:hover {
	color: var(--wp--preset--color--base);
}


// Desktop Menu
.wp-block-navigation__responsive-container:not(.is-menu-open) {

	// Submenu button
	.wp-block-navigation-item {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	
	// Submenu
	.wp-block-navigation__submenu-container {
		border: 0;
		background-color: var(--wp--preset--color--neutral);
		
		.wp-block-navigation-item__content {
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

}