<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content"} -->
<main id="main-content" class="wp-block-group site-content">

    <!-- wp:group {"tagName":"article","className":"type-page","layout":{"type":"default"}} -->
    <article class="wp-block-group type-page">
        
        <!-- wp:pattern {"slug":"fse-starter/hidden-page-header"} /-->
        <!-- wp:post-content {"metadata":{"name":"Entry Content"},"layout":{"type":"constrained"}} /-->
         
    </article>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->