<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content","layout":{"type":"constrained"}} -->
<main id="main-content" class="wp-block-group site-content">

    <!-- wp:columns {"align":"wide","className":"content-sidebar"} -->
    <div class="wp-block-columns alignwide content-sidebar">

        <!-- wp:column {"width":"65%"} -->
        <div class="wp-block-column" style="flex-basis:65%">

            <!-- wp:group {"tagName":"article","className":"type-post","metadata":{"name":"Entry"},"layout":{"type":"default"}} -->
            <article class="wp-block-group type-post">
                <!-- wp:pattern {"slug":"fse-starter/hidden-entry-header"} /-->
                <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
                <!-- wp:pattern {"slug":"fse-starter/hidden-entry-footer"} /-->
                <!-- wp:pattern {"slug":"fse-starter/hidden-entry-share"} /-->
                <!-- wp:pattern {"slug":"fse-starter/hidden-entry-author-profile"} /-->
            </article>
            <!-- /wp:group -->

            <!-- wp:pattern {"slug":"fse-starter/hidden-comments"} /-->

        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"35%"} -->
        <div class="wp-block-column" style="flex-basis:35%">

            <!-- wp:template-part {"slug":"sidebar","tagName":"aside","className":"sidebar"} /-->

        </div>
        <!-- /wp:column -->

    </div>
    <!-- /wp:columns -->

    <!-- wp:pattern {"slug":"fse-starter/hidden-entry-pagination"} /-->
    <!-- wp:pattern {"slug":"fse-starter/hidden-related-post-loop"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
