<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content", "layout":{"type":"constrained"}} -->
<main id="main-content" class="wp-block-group site-content">

    <!-- wp:group {"tagName":"article","className":"type-post","metadata":{"name":"Entry"},"layout":{"type":"default"}} -->
    <article class="wp-block-group type-post">
        
        <!-- wp:pattern {"slug":"fse-starter/entry-header"} /-->

        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

        <!-- wp:pattern {"slug":"fse-starter/entry-footer"} /-->

         <!-- wp:pattern {"slug":"fse-starter/entry-share"} /-->

        <!-- wp:pattern {"slug":"fse-starter/entry-author-profile"} /-->

    </article>
    <!-- /wp:group -->

    <!-- wp:cf/block-area {"name":"cf/block-area","data":{"field_68366e6dd7e7a":"18"},"mode":"preview"} /-->

    <!-- wp:pattern {"slug":"fse-starter/entry-pagination"} /-->

    <!-- wp:pattern {"slug":"fse-starter/comments"} /-->

    <!-- wp:pattern {"slug":"fse-starter/related-post-loop"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->