/* -- Comments -- */

/*
 * Comments
 */

.comment > ol {
	margin-block-start: var(--wp--preset--spacing--large);
}

.comment-meta > * {
	margin-block-start: var(--wp--preset--spacing--x-small);
}

:where(.wp-block-post-comments-form) input:not([type="submit"]), 
:where(.wp-block-post-comments-form) textarea {
	border: 1px solid var(--wp--preset--color--contrast);
	border-radius: 0;
}
