/* -- Button Block -- */

.wp-block-button .wp-block-button__link {
    align-items: center;
    border-radius: 0;
    display: inline-flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    &:disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.15;
        pointer-events: none;
    }
}


/* -- Button Styles -- */

.wp-block-button.is-style-secondary .wp-block-button__link {
    background-color: var(--wp--preset--color--primary-light);
    color: var(--wp--preset--color--primary-dark);

    &:hover {
        background-color: var(--wp--preset--color--secondary);
        color: var(--wp--preset--color--base);
    }
}