/* -- Layout -- */
/* https://gutenberg.10up.com/guides/handeling-block-spacing#providing-sensible-defaults */

/* 
 * Global layout spacing
 */

.wp-site-blocks > * {
	margin-block-start: 0;
}


.alignfull {
    margin-block-start: var(--wp--preset--spacing--x-large);
}


.alignfull:where(
	.has-background,
	[class*="is-style-section"],
	.wp-block-cover
) + .alignfull:where(
	.has-background,
	[class*="is-style-section"],
	.wp-block-cover
)  {
	margin-block-start: 0;
}


.site-header > *,
.site-footer > *,
.wp-block-area > * {
    margin-block-start: 0;
}


/*
 * Block spacing
 */
.wp-block-cover {
	padding: inherit; /*overrides the default padding*/
}

.wp-block-cover,
.has-background,
[class*="is-style-section"] {

	&:not(.alignfull) {
		padding: var(--wp--preset--spacing--medium);
	}
	

	&.alignfull {
		 padding-block: var(--wp--preset--spacing--x-large);
	}
}

/*
 * Large container spacing
 */
.site-content {
	margin-block: var(--wp--preset--spacing--x-large);
}

.site-content > *,
article.type-post > *,
article.type-page > *  {
	margin-block-start: var(--wp--preset--spacing--large);
}

.site-content > .alignfull {
	margin-block-start: var(--wp--preset--spacing--x-large);
}


/*
 * Entry content heading spacing
 */
.entry-content > .wp-block-heading:not(:first-child) {
	margin-block-start: var(--wp--preset--spacing--medium);
	
}


/*
 * Sidebar Layout
 */
.content-sidebar {
	gap: var(--wp--preset--spacing--x-large);
}

.sidebar.is-position-sticky {
	top: var(--wp--preset--spacing--large);
}


/*
 * Pagination spacing
 */
.archive-pagination,
.adjacent-entry-pagination {
    margin-block-start: var(--wp--preset--spacing--large);
}


/*
 * Header Spacing
 */
.header-base {
    padding-block: var(--wp--preset--spacing--small);
}


/*
 * Footer Spacing
 */

.footer-details {
    padding-top: var(--wp--preset--spacing--x-large);
    padding-bottom: var(--wp--preset--spacing--small);
}

.footer-base {
    padding-block: var(--wp--preset--spacing--small);
}


/*
 * Selective Styles
 */

.is-style-large-gap {
    gap: var(--wp--preset--spacing--large);
}


/*
 * Utility Styles (Mobile-first)
 * Base styles apply to mobile, then override for larger screens
 */

.is-style-hidden-mobile {
	display: none;
}

.is-style-columns-reverse {
	flex-direction: column-reverse;
}

@media (--tablet) {

	.is-style-hidden-mobile {
		display: revert;
	}

	.is-style-columns-reverse {
		flex-direction: row;
	}

}